body {
  background: #ffed99;
  text-align: center;
}

h1 {
  color: #75910D;
  font-family: 'Dancing Script', cursive;
}

h3, ul {
  text-align: left;
}

.avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 10px solid black;
  box-shadow: 10px 10px 10px grey;
}

.img-galery {
  border-radius: 15px;
}

.frame {
  border: 4px dashed #75910D;
  margin: 50px auto;
  padding: 50px;
  width: 400px;
}

.drapeau {
  background: black;
  height: 300px;
  width: 600px;
  display: flex; /* mettre flex box sur le parent */
  justify-content: space-between; /* positionner horizontalement les enfants*/
  align-items: center; /* positionner verticalement les enfants*/
}

.blue {
  background: blue;
  height: 200px;
  width: 100px;
}

.white {
  background: white;
  height: 200px;
  width: 100px;
}

.red {
  background: red;
  height: 200px;
  width: 300px;
}

.my-btn {
  background: #75910D;
  font-family: arial;
}

.my-navbar {

}
